* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.form {
    border-radius: 0px;
}
.qwerty1 {
    border-radius: 10px 10px 0 0;
}
.qwerty2 {
    border-radius: 50%;
}